/* src/components/CarouselItem.css */

.carousel-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex-shrink: 0;
    cursor: pointer;
}

.carousel-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;

}

.item-title {
    font-size: 1.1rem;
    color: #333333;
    margin-bottom: 8px;
}

.item-description {
    font-size: 0.95rem;
    color: #666666;
}
