/* src/pages/VideoDetail.module.css */

.container {
    width: 1500px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loading,
.error,
.no-data {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

.videoTitle {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;

}

.videoTitleText {
    font-weight: bold;
    font-size: 2rem;
}

.videoContainer {
    position: relative;
    margin-bottom: 20px;
}

.videoPlayer {
    position: absolute;
    top: 0;
    left: 0;
}

.videoInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.thumbnail {
    width: 120px;
    height: 90px;
    margin-right: 20px;
    object-fit: cover;
}

.videoTitle {
    font-size: 1.5rem;
}

.instructorInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 1061px;
    cursor: pointer;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.subject {
    font-size: 1rem;
    font-weight: bold;
}

.message {
    font-size: 1rem;
    font-style: italic;
}

.sentimentAnalysis {
    margin-bottom: 20px;
}

.sentimentTitle {
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.sentimentBar {
    display: flex;
    height: 20px;
    width: 1260px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.positive {
    background-color: #4caf50;
}

.negative {
    background-color: #f44336;
}

.neutral {
    background-color: #dedede;
}

.enroll-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.enroll-button.enroll {
    background-color: #4cc150;
    color: white;
}

.enroll-button.cancel {
    background-color: #e9574c;
    color: white;
}

.videoList {
    margin-top: 30px;
}

.videoList ul {
    list-style-type: none;
    padding: 0;
}

.videoItem {
    margin-bottom: 30px;
}

.videoItem h3 {
    margin-bottom: 10px;
}

.commentSection {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1260px;
}

.commentInput {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #61a5dd;
    color: white;
}

.commentsContainer {
    margin-top: 30px;
    width: 1260px;
    margin-bottom: 30px;
}

.commentList {
    list-style-type: none;
    padding: 0;
}

.commentItem {
    display: flex; /* 플렉스 컨테이너로 설정 */
    justify-content: space-between; /* 양쪽 끝에 요소 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.commentUser {
    font-weight: bold;
    margin-bottom: 5px;
}

.commentContent {
    margin-bottom: 5px;
}

.commentTime {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 5px;
}

.delete {
    color: #f44336; /* 삭제 버튼의 색상 */
    cursor: pointer; /* 커서를 포인터로 설정 */
    margin-left: 10px; /* 여백 추가 */
    font-weight: bold;
    text-decoration: underline;
}