.mypage-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.lecture-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between
}

.time-table-container {
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
}

/* 오늘 강의 */
.lectures {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #f1f1f1;
    border-radius: 20px;
    height: 418px;
    overflow: hidden;
    position: relative;
    width: 1062px;
}

.lectures .vector {
    height: 49px;
    left: 982px;
    position: absolute;
    top: 209px;
    width: 31px;
}

.lectures .today {
    height: 292px;
    left: 48px;
    position: absolute;
    top: 107px;
    width: 296px;
}

.lectures .rectangle {
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000040;
    height: 135px;
    left: 28px;
    position: relative;
    top: 30px;
    width: 240px;
}

.lectures .rectangle-wrapper {
    height: 292px;
    left: 344px;
    position: absolute;
    top: 107px;
    width: 296px;
}

.lectures .div-wrapper {
    height: 292px;
    left: 663px;
    position: absolute;
    top: 107px;
    width: 296px;
}

.lectures .overlap-group {
    height: 68px;
    left: 335px;
    position: absolute;
    top: 19px;
    width: 405px;
}

.lectures .div {
    background-color: #9fd5b4;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 68px;
    left: 46px;
    position: absolute;
    top: 0;
    width: 313px;
}

.lectures .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    height: 19px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    white-space: nowrap;
    width: 405px;
}

/* 스케줄 제안 */
.schedule {
    border: 2px solid;
    border-color: #f1f1f1;
    border-radius: 20px;
    height: 284px;
    overflow: hidden;
    position: relative;
    width: 1058px;
}

.schedule .text1 {
    background-color: #9fd5b4;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 59px;
    left: 289px;
    position: absolute;
    top: 39px;
    width: 192px;
}

.schedule .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    height: 59px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 192px;
}

.schedule .text2 {
    background-color: #9fd5b4;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 59px;
    left: 289px;
    position: absolute;
    top: 110px;
    width: 192px;
}

.schedule .text3 {
    background-color: #9fd5b4;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 59px;
    left: 289px;
    position: absolute;
    top: 181px;
    width: 192px;
}

.schedule .line-wrapper {
    /* background-image: url(./line-2.svg); */
    background-size: 100% 100%;
    height: 2px;
    left: 526px;
    position: absolute;
    top: 69px;
    width: 467px;
}

.schedule .line {
    height: 1px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 268px;
}

.schedule .rectangle2 {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 46px;
    left: 498px;
    position: absolute;
    top: 115px;
    width: 521px;
}

.schedule .rectangle3 {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 46px;
    left: 498px;
    position: absolute;
    top: 189px;
    width: 521px;
}

.schedule .text-wrapper-2 {
    color: #666666;
    font-family: "Inter-Regular", Helvetica;
    font-size: 23px;
    font-weight: 400;
    height: 52px;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 412px;
}

/* 시간표 */
.time-table {
    border: 2px solid;
    border-color: #f1f1f1;
    height: 739px;
    position: relative;
    width: 450px;
}

.time-table .overlap-group {
    background-color: #f8c5d5;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 46px;
    left: 96px;
    position: absolute;
    top: 15px;
    width: 257px;
}

.time-table .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 195px;
}

.time-table .rectangle {
    background-color: #d9d9d9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 627px;
    left: 41px;
    position: absolute;
    top: 78px;
    width: 368px;
}