.header {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #a3a3a3;
    height: 160px;
    position: fixed;
    width: 1920px;
    z-index: 1000;
  }
  
  .header .overlap-group {
    display: flex;
    height: 61px;
    /* left: 1150px; */
    right: 500px;
    position: absolute;
    top: 35px;
    width: 280px;
  }
  
  .header .d {
    color: transparent;
    font-family: "Noto Sans KR-Light", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0;
    line-height: 40px;
    width: 86px;
  }
  
  .header .text-wrapper {
    color: #2b2b2b;
    font-weight: 300;
  }
  
  .header .span {
    color: #ff7200;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-weight: 700;
  }
  
  .header .list {
    height: 28px;
    left: 59px;
    position: absolute;
    top: 33px;
    width: 198px;
  }
  
  .header .item-link {
    color: #2b2b2b;
    font-family: "Noto Sans KR-DemiLight", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
  }

  .user-name {
    cursor: pointer;
    color: #2b2b2b;
    font-family: "Noto Sans KR-DemiLight", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .user-name:hover {
    text-decoration: underline;
  }
  
  .header .div {
    color: #2b2b2b;
    font-family: "Noto Sans KR-DemiLight", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .header .vertical-border {
    height: 24px;
    left: 1456px;
    position: absolute;
    top: 112px;
    width: 40px;
  }
  
  .header .button {
    height: 32px;
    left: 410px;
    position: absolute;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    top: 107px;
    width: 32px;
  }
  
  .header .vector {
    height: 19px;
    left: 4px;
    position: absolute;
    top: 8px;
    width: 24px;
  }
  
  .header .item-link-2 {
    color: #2b2b2b;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    left: 450px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 112px;
    white-space: nowrap;
    width: 69px;
    cursor: pointer;
  }
  
  .header .item-link-3 {
    color: #2b2b2b;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    left: 525px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 112px;
    white-space: nowrap;
    width: 87px;
    cursor: pointer;
  }
  
  .header .item-link-4 {
    color: #2b2b2b;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    left: 620px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 112px;
    white-space: nowrap;
    width: 59px;
    cursor: pointer;
  }
  
  .header .item-link-5 {
    color: #2b2b2b;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    left: 719px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 112px;
    white-space: nowrap;
    width: 63px;
  }
  
  .header .rectangle {
    border: 1px solid;
    border-color: #a3a3a3;
    border-radius: 50px;
    height: 40px;
    left: 1149px;
    position: absolute;
    top: 104px;
    width: 302px;
  }
  
  .header .overlap {
    border-color: #bdbdbd;
    border-radius: 30px;
    height: 60px;
    left: 1350px;
    position: absolute;
    top: 83px;
    width: 60px;
    cursor: pointer;
    display: flex;
    align-items: center; /* 수직 정렬 */
    cursor: pointer;
  }

  .mypage-text {
    left: 1120px;
    font-size: 16px;   /* 글자 크기 조정 */
    color: #838383;       /* 글자 색상 조정 */
    /* 추가적인 텍스트 스타일링 */
    height: 60px;
    position: absolute;
    top: 85px;
    width: 300px;
    display: flex;
    align-items: center; /* 수직 정렬 */
  }

  .profile-image {
    width: 60px;            /* 원하는 이미지 크기로 설정 */
    height: 60px;           /* 원하는 이미지 크기로 설정 */
    border-radius: 50%;     /* 원형으로 만듦 */
    object-fit: cover;      /* 이미지가 비율 유지한 채 영역을 채우도록 함 */
    /* 필요에 따라 추가 스타일 적용 */
    border: 2px solid;
    border-color: #d2d2d2;
    border-radius: 50px;
  }
  
  .header .material-symbols {
    height: 50px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 50px;
  }
  
  .header .logo {
    height: 67px;
    left: 408px;
    object-fit: cover;
    position: absolute;
    top: 27px;
    width: 372px;
    cursor: pointer;
  }

