.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

.header__left .icon {
  font-size: 28px;
  margin: 0 10px;
  cursor: pointer;
  margin-left: 100px;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.header__center span {
  font-size: 58px;
  font-weight: bold;
}

.header__right .icon {
  font-size: 28px;
  margin: 0 10px;
  cursor: pointer;
}