/* src/components/Sidebar/Sidebar.css */

.sidebar {
  width: 200px;
  height: 100vh;
  top: 10vh;
  background-color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  transition: 0.3s;
  padding-top: 60px;
  color: white;
  left: -200px;
  /* 초기에는 사이드바가 숨겨져 있음 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  left: 0;
  /* 사이드바가 열리면 왼쪽으로 이동 */
}

/* 활성화된 페이지 표시 */
.active {
  background-color: #ddd;
  border-radius: 4px;
  color: #333; /* 텍스트 색상 변경 */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0; /* 패딩 제거 */
}

.sidebar li a {
  text-decoration: none;
  color: #ddd;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

/* 활성화된 페이지 표시 */
.sidebar li.active a {
  background-color: #ddd;
  border-radius: 4px;
  color: #333; /* 텍스트 색상 변경 */
}

.sidebar li a:hover {
  background-color: #ddd;
  color: #333;
  font-size: 1.1em; /* 텍스트 크기 약간 증가 */
  border-radius: 4px; /* 라운드 정도 증가 */
}