body {
  height: 100vh;
  width: 1920px;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainBody {
  display: flex;
  flex: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 1030px;
  background-color: rgba(0, 0, 0, 0.15); /* 반투명 검정색 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 999; /* 사이드바보다 낮게 설정 */
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.main-content {
  flex: 1;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
