/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*세로 padding, 가로 padding*/
  padding: 40px 100px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header__left .icon {
  font-size: 28px;
  margin: 0 10px;
  cursor: pointer;
  margin-bottom: -60px;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0px 100p;
  justify-content: center; /* 텍스트를 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.header__center span {
  font-size: 58px;
  font-weight: bold;
}

.header__right .icon {
  font-size: 28px;
  margin: 0 10px;
  cursor: pointer;
  margin-bottom: -60px;
}

.mainBody {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 0;
  height: 100vh;
  background-color: #333;
  overflow-x: hidden;
  position: fixed;
  transition: 0.3s;
  padding-top: 60px;
  color: white;
}

.sidebar.open {
  width: 200px; /* 사이드바 열렸을 때의 너비 */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.main-content {
  flex:1;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}