body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.mainBody {
  display: flex;
  flex: 1;
  padding-top: 10vh;
}

.main-content {
  flex: 1;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
